 .u-section-1 {
  background-image: url("images/pexels-photo-5936860.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 744px;
}

.u-section-1 .u-group-1 {
  width: 610px;
  min-height: 472px;
  margin: 120px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 9.375rem;
  font-weight: 700;
  margin: 0 -124px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 613px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 470px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    width: auto;
  }
} .u-section-2 {
  min-height: 419px;
}

.u-section-2 .u-gallery-1 {
  height: 419px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 0px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 345px;
  }

  .u-section-2 .u-gallery-1 {
    height: 345px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1057px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1057px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 3529px;
  }

  .u-section-2 .u-gallery-1 {
    height: 3529px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 2222px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2222px;
  }
} .u-section-3 {
  min-height: 861px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 862px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 19px;
}

.u-section-3 .u-image-1 {
  width: 329px;
  height: 329px;
  background-image: url("images/088b110a8c0f71bd0f1c3909310494d25c963df0d89b5ffcdc18508b1b17b8b569108698e83f851139eae80b223e4e4eabef83a373dd81f39c3237_1280.jpg");
  background-position: 50% 50%;
  margin: 132px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 144px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 21px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 431px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 46px auto 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 20px auto 0 1px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 431px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 791px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 711px;
  }

  .u-section-3 .u-image-1 {
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 143px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 355px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 714px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 966px;
  }

  .u-section-3 .u-image-1 {
    width: 231px;
    height: 231px;
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 122px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1219px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 299px;
    height: 299px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 54px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 938px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 785px;
}

.u-section-4 .u-text-1 {
  margin: 5px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 9.375rem;
  font-weight: 700;
  margin: 5px auto 0 0;
}

.u-section-4 .u-line-1 {
  height: 561px;
  left: 86px;
  top: 238px;
  transform-origin: center top 0px;
  position: absolute;
  width: 3px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 813px;
  margin: 71px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 30px 160px;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 400px;
  background-image: url("images/istockphoto-1227145901-170667a.jpg");
  background-position: 33.65% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-4 .u-image-1 {
    min-height: 354px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1178px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 120px;
  }

  .u-section-4 .u-image-1 {
    min-height: 659px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 921px;
  }

  .u-section-4 .u-text-2 {
    font-size: 6rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 40px;
  }

  .u-section-4 .u-image-1 {
    min-height: 415px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 777px;
}

.u-section-5 .u-text-1 {
  font-size: 9.375rem;
  font-weight: 700;
  margin: 61px auto 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 813px;
  margin: 71px auto 60px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 30px 160px;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 400px;
  background-image: url("images/ZeeuwsMuseum_Campaignimage-1-e1643751064724.png.webp");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-line-1 {
  height: 800px;
  left: 86px;
  top: -1px;
  transform-origin: center bottom 0px;
  position: absolute;
  width: 3px;
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-5 .u-image-1 {
    min-height: 354px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1170px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 20px;
    margin-bottom: -471px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 120px;
  }

  .u-section-5 .u-image-1 {
    min-height: 659px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-5 .u-text-1 {
    font-size: 6rem;
    width: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: -421px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 40px;
  }

  .u-section-5 .u-image-1 {
    min-height: 415px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 777px;
}

.u-section-6 .u-text-1 {
  font-size: 9.375rem;
  font-weight: 700;
  margin: 61px auto 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 813px;
  margin: 71px auto 60px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 30px 160px;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-6 .u-image-1 {
  min-height: 400px;
  background-image: url("images/Metaverse.2.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-line-1 {
  height: 802px;
  left: 86px;
  top: -3px;
  transform-origin: center bottom 0px;
  position: absolute;
  width: 3px;
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-6 .u-image-1 {
    min-height: 354px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1170px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 20px;
    margin-bottom: -471px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 120px;
  }

  .u-section-6 .u-image-1 {
    min-height: 659px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-6 .u-text-1 {
    font-size: 6rem;
    width: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: -421px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 40px;
  }

  .u-section-6 .u-image-1 {
    min-height: 415px;
  }
} .u-section-7 {
  background-image: url("images/pexels-photo-9441882.jpeg");
}

.u-section-7 .u-sheet-1 {
  min-height: 809px;
}

.u-section-7 .u-text-1 {
  font-size: 9.375rem;
  font-weight: 700;
  margin: 540px auto 0 0;
}

.u-section-7 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 60px;
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

@media (max-width: 1199px) {
   .u-section-7 {
    background-position: 50% 50%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 667px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 511px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 403px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    background-position: 14.34% 50%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-7 .u-text-1 {
    font-size: 6rem;
    margin-top: 316px;
  }
} .u-section-8 {
  min-height: 808px;
  background-image: none;
}

.u-section-8 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 808px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-8 .u-text-1 {
  font-size: 9.375rem;
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
}

.u-section-8 .u-image-1 {
  min-height: 808px;
  background-image: url("images/pexels-photo-9800864.png");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 666px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 666px;
  }

  .u-section-8 .u-text-1 {
    font-size: 6rem;
    line-height: 1;
  }

  .u-section-8 .u-image-1 {
    min-height: 666px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 510px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-image-1 {
    min-height: 510px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 865px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-1 {
    font-size: 7.5rem;
  }

  .u-section-8 .u-image-1 {
    min-height: 881px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 582px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 242px;
  }

  .u-section-8 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-8 .u-image-1 {
    min-height: 555px;
  }
} .u-section-9 {
  min-height: 535px;
}

.u-section-9 .u-gallery-1 {
  height: 535px;
  margin-top: 0;
  margin-bottom: -551px;
}

.u-section-9 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.u-section-9 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-9 {
    min-height: 431px;
  }

  .u-section-9 .u-gallery-1 {
    height: 441px;
    margin-bottom: -561px;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 1013px;
  }

  .u-section-9 .u-gallery-1 {
    height: 1013px;
    margin-bottom: -308px;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-9 {
    min-height: 2229px;
  }

  .u-section-9 .u-gallery-1 {
    height: 2279px;
    margin-bottom: -629px;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    min-height: 1403px;
  }

  .u-section-9 .u-gallery-1 {
    height: 1435px;
    margin-bottom: -662px;
  }
} .u-section-10 {
  background-image: url("images/pexels-photo-2401442.jpg");
  background-position: 50% 50%;
  min-height: 632px;
}

.u-section-10 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 650px);
  margin: 0 auto 0 0;
}

.u-section-10 .u-image-1 {
  min-height: 632px;
  background-image: url("images/pexels-photo-5202018.jpeg");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 632px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-10 .u-text-1 {
  margin: 217px 0 0;
}

@media (max-width: 1199px) {
   .u-section-10 {
    min-height: 521px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 650px);
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    min-height: 399px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 650px);
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-10 {
    min-height: 648px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 343px);
    margin-bottom: 60px;
  }

  .u-section-10 .u-image-1 {
    min-height: 477px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
   .u-section-10 {
    min-height: 736px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 274px);
  }

  .u-section-10 .u-image-1 {
    min-height: 565px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 111px;
  }
}